<link href='https://fonts.googleapis.com/css?family=Quicksand|Asap:700' rel='stylesheet' type='text/css'>

<section class="contactcharacter" id="about">
  <div class="contentwrapper" id="contact">

    <div class="character">
      <div class="body"></div>
      <div class="arm"></div>
      <div class="head">
        <div class="eyes"></div>
      </div>
      <div class="mug">
        <div class="steam"></div>
        <div class="steam"></div>
        <div class="steam"></div>
      </div>
      <div class="contactme">
        <div class="arrow"></div>
      </div>
      <div class="thoughts">

        <div class="abouttype">
          <p>Olá, chamo-me Aristote Lopes</p>
          <div class="imacontainer"><span class="ima"></span></div>
          <p>Este é o meu trabalho de Conclusão de Curso, na area</p>
          <p>de Ciência da Computação da Universidade do Extremo Sul Catarinense (UNESC).</p>
        </div>

        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>

      </div>
    </div>
  </div>

  <div class="contact">
    <span class="closer"></span>
    <form>
      <input class="input name"  name="name" type="text" value="" placeholder="name">
      <input class="input email" name="email" type="email" value="" placeholder="email">
      <textarea class="input message" name="message" placeholder="my awesome message!"></textarea>
      <input name="commit" type="submit" value="submit" class="submit">
    </form>
  </div>

</section>
