<div class="wrapper">
    <div class="image">
      <img class="images" src="assets/img/{{ image }}" style="width: 100%; height: 100%;" alt="">
    </div>
    <div class="row">
        <input class="input" type="text" id="pal" name="word" [(ngModel)]="palavra" [attr.maxlength]="maxLength" (keypress)="onKey($event)" #palavraWord>

        <!-- <input  class="input" type="text" id="pal" [(ngModel)]="speechData" value="{{ atual }}" [attr.maxlength]="maxLength" (keypress)="onKey($event)"  [attr.maxlength]="maxLength" #palavraWord> -->
        <div class="button" [(ngModel)]="showSearchButton" (click)="activateSpeechSearchMovie()">
            <div class="inner"></div>
        </div>
            <button class="btn btn-default btn-validate" (click)="palavraVerify()"><span>OK</span></button>
    </div>

</div>


