.wrapper {
  background-color: #FFF;
  border-radius: 2px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  height: 80%;
  left: 10%;
  right: 20%;
  position: absolute;
  top: 15%;
  width: 80%;
}

.row{
  top: -10%;
  position: relative;
}

input {
  display: block;
  margin: 2em auto;
  border: none;
  padding: 0;
  width: 22ch;
  background: repeating-linear-gradient(90deg, dimgrey 0, dimgrey 1ch, transparent 0, transparent 2.2ch) 0 100%/ 20.8ch 2px no-repeat;
  font: 5ch droid sans mono, consolas, monospace;
  letter-spacing: 1.2ch;
  top:100%;
}

input:focus {
  outline: none;
  color: dodgerblue;
}

.box-btn_validate{

  top: 50%;
  width: 150px;
  align-items: center;
}

.btn {
  padding: 0;
  overflow: hidden;

  width: 20%;
  height: 70px;
  margin-left: 68%;

  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);

  background-color: #2ecc71;
  color: #ecf0f1;

  font-size: 20px;
  transition: background-color .3s;
}

.btn:hover, .btn:focus {
  background-color: #27ae60;
}

.btn > * {
  position: relative;
}

.btn span {
  display: block;
  padding: 12px 24px;
}

.btn:before {
  content: "";
  position: absolute;
  top: 50%;
  display: block;
  width: 0;
  padding-top: 0;

  border-radius: 100%;

  background-color: rgba(236, 240, 241, .3);

  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.btn:active:before {
  width: 120%;
  padding-top: 120%;

  transition: width .2s ease-out, padding-top .2s ease-out;
}

/* Styles, not important */
*, *:before, *:after {
  box-sizing: border-box;
}


.button {
  margin: 100px auto 0;
  width: 8%;
  height: 35%;
  border: 10px solid #fff;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  top: -55%;
  left: 80%;
}

.inner {
  background-color: #9e1919;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: all 0.2s ease;
  transform: scale(0.94);
}

.button.active .inner {
  transform: scale(0.5);
  border-radius: 12%;
}

.image{
  /* border: 1px solid red; */
  display: block;
  width: 40%;
  height: 40%;
  margin-left: 30%;
}

images{
  position: absolute;
}
