<div id="nav">
  <nav>
    <ul>
      <li [routerLinkActive]="['active']"><a [routerLink]="['/sobre']" type="button" class="sobre"><p>Sobre</p></a></li>
      <li [routerLinkActive]="['active']"><a [routerLink]="['/alfabeto']" type="button" class="alfabeto">Alfabeto</a></li>
      <li [routerLinkActive]="['active']"><a [routerLink]="['/consoante']" type="button" class="consoantes">Consoantes</a></li>
      <li [routerLinkActive]="['active']"><a [routerLink]="['/palavra']" type="button" class="palavras">Palavras</a></li>
      <li [routerLinkActive]="['active']"><a [routerLink]="['/ditado']" type="button" class="ditado">Ditado</a></li>
      <li [routerLinkActive]="['active']"><a [routerLink]="['/home']" class="home">Home</a></li>
    </ul>
  </nav>
</div>

<main>
	<router-outlet></router-outlet>
</main>
