
#nav {
  overflow: hidden;
  text-align: center;
  padding: 2px;
  margin: 0;
  /*box-shadow: 0px 5px 25px #333;*/
  width: 100%;
}
nav .home:hover {
  filter: opacity(50%);
}
nav li {
  list-style-type: none;
}

nav a {
  float: right;
  margin: -5px 30px 10px 0px;
  padding: 5px;
  display: block;
  text-decoration: none;
  color: white;
  border-radius: 4px;
}

nav li:last-of-type {
  float: left;
  font-size: 20px;
  font-family: Helvetica;
}

@media screen and (max-width: 650px) {
  #nav a {
    float: none;
    display: block;
    margin: 10px auto;
    text-align: center;
    padding: 15px 150px;
  }
}

/* buttons */

.ditado {
  font-family: Helvetica;
  color: #df2933;
  padding: 10px 35px;
  width: 90px;
  height: 30px;
  transition: 0.4s;
  text-align: inherit;
  border-radius: .25rem;
}

.ditado:hover {
  color: white;
  transform: scale(1.2, 1.2);
  opacity: 1;
}

.palavras {
  font-family: Helvetica;
  color: #fcad35;
  padding: 10px 15px;
  width: 90px;
  height: 30px;
  transition: 0.4s;
}

.palavras:hover {
  transform: scale(1.2, 1.2);
  color: white;
}

.consoantes {
  font-family: Helvetica;
  color: #fce45a;
  padding: 10px 15px;
  width: 90px;
  height: 30px;
  transition: 0.4s;
}

.consoantes:hover {
  transform: scale(1.2, 1.2);
  color: white;
}

.alfabeto {
  font-family: Helvetica;
  color: #39ea99;
  padding: 20px 15px;
  width: 90px;
  height: 30px;
  transition: 0.4s;
}

.alfabeto:hover {
  transform: scale(1.2, 1.2);
  color: white;
}

.sobre {
  font-family: Helvetica;
  color: #39ea99;
  padding: 20px 10px;
  width: 70px;
  height: 30px;
  transition: 0.4s;
  position: relative;
  border: 1px solid white;
  border-radius: 70px;

  margin-top: 5px;

}

.sobre p{

  position: relative !important;
  margin-top: 5px !important;
  padding-top: 2px !important;

}

.teste:hover {
  background: #fce45a;
  color: white;
  transition: 0.4s;
}
