/* Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.wrapper {
  background-color: #FFF;
  border-radius: 4px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  height: 400px;
  margin: 50px auto;
  position: relative;
  width: 80%;
  display: flex;
  flex-direction: column;
}

.input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #CCC;
  color: #555;
  box-sizing: border-box;
  font-family: 'Arvo';
  font-size: 200%;
  height: 50px;
  text-align: center;
  /* left: 50%;
  margin: -25px 0 0 -100px;
  padding: 10px 0px;
  position: absolute;
  top: 52%;
  width: 30%; */
}
.input:focus {
  outline: none;
}

input::-webkit-input-placeholder {
  color: #AAA;
}

input:focus::-webkit-input-placeholder {
  color: #36d1dc;
}

.input:focus + .underline {
  transform: scale(1);
}

.underline {
  background-color: #36d1dc;
  display: inline-block;
  height: 2px;
  left: 50px;
  margin-top: -4px;
  position: absolute;
  top: 185px;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
  width: 202px;
}

.container{
  height: 150px;
flex: 1;
  position: relative;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  /* top: -25%; */
  /*border: 2px solid #555*/
}

.letra{

  font-family: 'Arvo';
  font-size: 3em;

}

.box-btn_validate{
  flex:1;
  display: flex;
  justify-content: center;
  align-items: center;
  /* top: 30%;
  position: relative;
  width: 150px;
  left: 70px;
  align-items: center; */
}
.btn {
  position: absolute;

  /* overflow: hidden;
  margin-top:50%;
  left: 145%; */
  width: 50%;
  height: 80px;
  /* margin-top: -110%; */

  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);

  background-color: #2ecc71;
  color: #ecf0f1;

  font-size: 20px;

  transition: background-color .3s;
}

.btn:hover, .btn:focus {
  background-color: #27ae60;
}

.btn > * {
  position: relative;
}

.btn span {
  display: block;
  padding: 12px 24px;
}

.btn:before {
  content: "";

  position: absolute;
  top: 50%;
  left: 50%;

  display: block;
  width: 0;
  padding-top: 0;

  border-radius: 100%;

  background-color: rgba(236, 240, 241, .3);

  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.btn:active:before {
  width: 120%;
  padding-top: 120%;

  transition: width .2s ease-out, padding-top .2s ease-out;
}

/* Styles, not important */
*, *:before, *:after {
  box-sizing: border-box;
}

.container p{
  font-family: Helvetica;
  color: rgb(124, 124, 124);
}

.row {
  width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
  margin: 100px auto 0;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  border: 10px solid red;
  top: -30%;
  right: 25%;
}

.inner {
  background-color: #9e1919;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: all 0.2s ease;
  transform: scale(0.94);
}

.button.active .inner {
  transform: scale(0.5);
  border-radius: 12%;
}

.image{
  /* /border: 1px solid red; */
  display: block;
  width: 10%;
  height: 10%;
  margin-left: 30%;
}

images{
  /* position: absolute; */
}
