<div class="wrapper">
    <div class="container">
      <p class="letra" *ngIf="result == ''">{{ prop }}</p>
      <img class="images" *ngIf="result == 'true'" src="assets/img/success.png" style="width: 50px; height: 50px;" alt="">
      <img class="images" *ngIf="result == 'false'" src="assets/img/nosuccess.png" style="width: 50px; height: 50px;" alt="">
    </div>
    <div class="container">
        <div class="row">
            <input class="input" type="text" [(ngModel)]="speechData" placeholder="Qual é a Letra?" (keypress)="onKey($event)" maxlength="1" #consoantesWord>

            <div class="button" [(ngModel)]="showSearchButton" (click)="activateSpeechSearchMovie()">
              <div class="inner"></div>
            </div>
        </div>
      <span class="underline"></span>
    </div>


  <div class="box-btn_validate">
      <button class="btn btn-default btn-validate" (click)="consonantes(consoantesWord.value)"><span>OK</span></button>
  </div>
</div>
