/* You can add global styles to this file, and also import other style files */
body {
  padding: 0;
  margin: 0;

  background: #36d1dc; /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #36d1dc ,#5b86e5,100%, 100%); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #36d1dc, #5b86e5,100%, 100%);
}
