@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

.cloud-one {
  width: 100px;
  height: 5px;
  background: white;
  background: linear-gradient(white, #eeeeee);
  border-radius: 25px;
  position: absolute;
  bottom: 225px;
  opacity: 0.6;
  -webkit-animation: cloud-mover 45s linear infinite;
  -moz-animation: cloud-mover 45s linear infinite;
  -o-animation: cloud-mover 45s linear infinite;
  animation: cloud-mover 45s linear infinite;
}

.cloud-two {
  width: 60px;
  height: 5px;
  background: white;
  background: linear-gradient(white, #eeeeee);
  border-radius: 25px;
  position: absolute;
  bottom: 210px;
  opacity: 0.6;
  -webkit-animation: cloud-mover 55s linear infinite;
  -moz-animation: cloud-mover 55s linear infinite;
  -o-animation: cloud-mover 55s linear infinite;
  animation: cloud-mover 55s linear infinite;
}

.cloud-three {
  width: 100px;
  height: 5px;
  background: white;
  background: linear-gradient(white, #eeeeee);
  border-radius: 25px;
  position: absolute;
  bottom: 235px;
  opacity: 0.6;
  -webkit-animation: cloud-mover 65s linear infinite;
  -moz-animation: cloud-mover 65s linear infinite;
  -o-animation: cloud-mover 65s linear infinite;
  animation: cloud-mover 65s linear infinite;
}

.cloud-four {
  width: 100px;
  height: 5px;
  background: white;
  background: linear-gradient(white, #eeeeee);
  border-radius: 25px;
  position: absolute;
  bottom: 276px;
  opacity: 0.6;
  -webkit-animation: cloud-mover 75s linear infinite;
  -moz-animation: cloud-mover 75s linear infinite;
  -o-animation: cloud-mover 75s linear infinite;
  animation: cloud-mover 75s linear infinite;
}

.cloud-five {
  width: 120px;
  height: 5px;
  background: white;
  background: linear-gradient(white, #eeeeee);
  border-radius: 25px;
  position: absolute;
  bottom: 260px;
  opacity: 0.6;
  -webkit-animation: cloud-mover 85s linear infinite;
  -moz-animation: cloud-mover 85s linear infinite;
  -o-animation: cloud-mover 85s linear infinite;
  animation: cloud-mover 85s linear infinite;
}

.cloud-six {
  width: 45px;
  height: 5px;
  background: white;
  background: linear-gradient(white, #eeeeee);
  border-radius: 25px;
  position: absolute;
  bottom: 250px;
  opacity: 0.6;
  -webkit-animation: cloud-mover 95s linear infinite;
  -moz-animation: cloud-mover 95s linear infinite;
  -o-animation: cloud-mover 95s linear infinite;
  animation: cloud-mover 95s linear infinite;
}

.cloud-seven {
  width: 65px;
  height: 5px;
  background: white;
  background: linear-gradient(white, #eeeeee);
  border-radius: 25px;
  position: absolute;
  bottom: 285px;
  opacity: 0.6;
  -webkit-animation: cloud-mover 70s linear infinite;
  -moz-animation: cloud-mover 70s linear infinite;
  -o-animation: cloud-mover 70s linear infinite;
  animation: cloud-mover 70s linear infinite;
}

.cloud-eight {
  width: 105px;
  height: 5px;
  background: white;
  background: linear-gradient(white, #eeeeee);
  border-radius: 25px;
  position: absolute;
  bottom: 313px;
  opacity: 0.6;
  -webkit-animation: cloud-mover 50s linear infinite;
  -moz-animation: cloud-mover 50s linear infinite;
  -o-animation: cloud-mover 50s linear infinite;
  animation: cloud-mover 50s linear infinite;
}

.cloud-nine {
  width: 85px;
  height: 5px;
  background: white;
  background: linear-gradient(white, #eeeeee);
  border-radius: 25px;
  position: absolute;
  bottom: 305px;
  opacity: 0.6;
  -webkit-animation: cloud-mover 125s linear infinite;
  -moz-animation: cloud-mover 125s linear infinite;
  -o-animation: cloud-mover 125s linear infinite;
  animation: cloud-mover 125s linear infinite;
}

.car {
  -webkit-animation: carride 15s infinite linear;
  -moz-animation: carride 15s linear infinite;
  -o-animation: carride 15s linear infinite;
  animation: carride 15s linear infinite;
  z-index: 999;
  position: absolute;
  bottom: 0;
}

.car-base {
  position: absolute;
  bottom: 10px;
  right: 45px;
  width: 80px;
  height: 15px;
  background: #D35400;
  background: linear-gradient(#D35400, #c14e03);
  z-index: 1;
  -webkit-transform: perspective(100px) rotateX(-25deg);
  -webkit-transform-origin: left center;
  -moz-transform: perspective(100px) rotateX(-25deg);
  -moz-transform-origin: left center;
}

.car-wheel-one {
  width: 10px;
  height: 10px;
  border-radius: 50px;
  border-left: 2px solid white;
  border-right: 2px solid #D35400;
  border-top: 2px solid white;
  border-bottom: 2px solid #D35400;
  background-color: black;
  position: absolute;
  bottom: 4px;
  right: 57px;
  z-index: 12;
  -webkit-animation: wheel-spin 1.1s infinite linear;
}

.car-wheel-two {
  width: 10px;
  height: 10px;
  border-radius: 50px;
  border-left: 2px solid white;
  border-right: 2px solid #D35400;
  border-top: 2px solid white;
  border-bottom: 2px solid #D35400;
  background-color: black;
  position: absolute;
  bottom: 4px;
  right: 95px;
  z-index: 2;
  -webkit-animation: wheel-spin 1.1s infinite linear;
}

.car-roof {
  width: 50px;
  height: 25px;
  background: #D35400;
  position: absolute;
  bottom: 24px;
  right: 55px;
  z-index: 3;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}
.car-roof .car-roof-inner {
  background: #F2F1EF;
  background: linear-gradient(#F2F1EF, #dad9d8);
  width: 30px;
  height: 20px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  margin-left: 10px;
  margin-top: 5px;
}
.car-roof .car-roof-inner .car-roof-seperator {
  width: 2px;
  height: 100%;
  background-color: #D35400;
  margin-left: 18px;
}

.car-light {
  width: 0;
  height: 0;
  border-top: 25px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 55px solid #fdf0d2;
  position: absolute;
  bottom: 6px;
  right: 125px;
  z-index: 9;
  opacity: 0.3;
}

.moon {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #e5e5e5;
  background: linear-gradient(#e5e5e5, #c4c3c3);
  position: absolute;
  bottom: 250px;
  right: 250px;
  box-shadow: 0 0 15px #7a7a7a, 0 0 150px #7a7a7a;
}

.long-shadow {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 150px solid transparent;
  border-bottom: 200px solid black;
  position: absolute;
  bottom: 0;
  right: 0px;
  z-index: 1;
  opacity: 0.2;
}

.mountain {
  width: 0;
  height: 0;
  border-left: 150px solid transparent;
  border-right: 150px solid transparent;
  border-bottom: 200px solid #2c3e51;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.overlay-shadow {
  background-color: black;
  width: 93px;
  height: 25px;
  position: absolute;
  bottom: 150px;
  left: 50px;
  z-index: 10;
  opacity: 0.1;
}

.overlay-shadow-two {
  background-color: black;
  width: 170px;
  height: 7px;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 10;
  opacity: 0.1;
}

.house-container {
  width: 650px;
  margin: 0 auto;
  height: 400px;
  top: 50%;
  left: 45%;
  margin-left: -250px;
  margin-top: -200px;
  position: absolute;
}
.house-container .title {
  display: block;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  color: white;
  font-size: 36px;
  text-transform: uppercase;
}

.house-roof {
  width: 0;
  height: 0;
  border-left: 65px solid transparent;
  border-right: 65px solid transparent;
  border-bottom: 65px solid #22313F;
  position: absolute;
  top: -62px;
  left: -24px;
  z-index: 1;
}

.house-inner-container {
  position: relative;
  bottom: 0;
  height: 100%;
  overflow: hidden;
}

.house-development-platform {
  background-color: white;
  height: 2px;
  width: 100%;
  border-top: #22313F 1px solid;
  border-bottom: #22313F 1px solid;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 30;
}

.tree {
  background-color: #86421c;
  width: 15px;
  height: 65px;
  position: absolute;
  bottom: 0;
  left: 25px;
}
.tree .tree-top {
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 100px solid #049372;
  position: absolute;
  bottom: 25px;
  left: -22px;
}
.tree .tree-shadow {
  background-color: black;
  width: 15px;
  height: 10px;
  position: absolute;
  bottom: 15px;
  z-index: 10;
  opacity: 0.1;
}

.store-one {
  width: 170px;
  height: 95px;
  background: #C0392B;
  background: linear-gradient(#ca3e30, #C0392B);
  position: absolute;
  z-index: 2;
  bottom: 3px;
  left: 110px;
  border-left: 3px solid #932b20;
  border-right: 3px solid #932b20;
  text-align: center;
}
.store-one .school-flag-post {
  background-color: #932b20;
  height: 25px;
  width: 5px;
  position: absolute;
  top: -35px;
  right: 30px;
}
.store-one .school-flag {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-left: 25px solid #bc3b2d;
  border-bottom: 10px solid transparent;
  position: absolute;
  top: -50px;
  right: 10px;
  z-index: 200;
}
.store-one .roof {
  width: 190px;
  height: 10px;
  background-color: #932b20;
  position: absolute;
  top: -10px;
  left: -10px;
}
.store-one .door {
  width: 30px;
  height: 40px;
  background-color: #e3fafd;
  position: absolute;
  bottom: 0;
  right: 25px;
  border-top: 3px solid #932b20;
  border-right: 3px solid #932b20;
  border-left: 3px solid #932b20;
}
.store-one .door .door-shadow {
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 0px solid transparent;
  border-bottom: 40px solid #cdf7fc;
  position: absolute;
  top: 0;
  right: 0px;
  z-index: 1;
}
.store-one .door .door-sign {
  background-color: #932b20;
  margin-top: 15px;
  height: 10px;
  position: relative;
  z-index: 2;
}
.store-one .door .door-sign span {
  font-family: "Open Sans", sans-serif;
  font-size: 7px;
  font-weight: bold;
  position: relative;
  top: -5px;
  color: white;
}
.store-one .store-window-left {
  height: 50px;
  width: 75px;
  background-color: #e3fafd;
  position: absolute;
  top: 20px;
  left: 10px;
  border: 3px solid #932b20;
  -moz-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.25);
}
.store-one .store-window-left .window-divider {
  width: 2px;
  height: 50px;
  background-color: #932b20;
  position: absolute;
  left: 37px;
  z-index: 10;
}
.store-one .store-window-left .store-window-shadow {
  width: 0;
  height: 0;
  border-left: 75px solid transparent;
  border-right: 0px solid transparent;
  border-bottom: 50px solid #cdf7fc;
  position: absolute;
  top: 0;
  right: 0px;
}

.house-one {
  width: 85px;
  height: 175px;
  background: #EB9532;
  background: linear-gradient(#EB9532, #c27b28);
  position: absolute;
  bottom: 0;
  left: 50px;
  border-top: solid 3px #E87E04;
  border-left: solid 3px #E87E04;
  border-right: solid 3px #E87E04;
}
.house-one .door {
  height: 50px;
  width: 30px;
  border: 4px solid #22313F;
  position: absolute;
  bottom: 0px;
  left: 7px;
}
.house-one .door .door-inner {
  background-color: white;
  width: 24px;
  height: 44px;
  border: 3px solid #E87E04;
}
.house-one .door .door-inner-2x {
  background-color: white;
  width: 18px;
  height: 38px;
  border: 3px solid;
}
.house-one .first-level-window-left {
  width: 20px;
  height: 40px;
  background-color: white;
  position: absolute;
  left: 10px;
  top: 20px;
  border-top: 2px solid #22313F;
  border-left: 2px solid #22313F;
  border-right: 2px solid #22313F;
}
.house-one .first-level-window-left .windowsill {
  height: 2px;
  width: 30px;
  background-color: #22313F;
  position: absolute;
  bottom: -2px;
  left: -5px;
}
.house-one .first-level-window-right {
  width: 20px;
  height: 40px;
  background-color: white;
  position: absolute;
  left: 50px;
  top: 20px;
  border-top: 2px solid #22313F;
  border-left: 2px solid #22313F;
  border-right: 2px solid #22313F;
}
.house-one .first-level-window-right .window-half-closed {
  width: 20px;
  height: 20px;
  background-color: #22313F;
  position: absolute;
  bottom: 0;
}
.house-one .first-level-window-right .windowsill {
  height: 2px;
  width: 30px;
  background-color: #22313F;
  position: absolute;
  bottom: -2px;
  left: -5px;
}

/*CSS Animations */
@-webkit-keyframes carride {
  from {
    -webkit-transform: translateX(650px);
  }
  to {
    -webkit-transform: translateX(-100px);
  }
}
@-webkit-keyframes cloud-mover {
  from {
    -webkit-transform: translateX(-100px);
  }
  to {
    -webkit-transform: translateX(550px);
  }
}
@-webkit-keyframes wheel-spin {
  from {
    -webkit-transform: rotate(359deg);
  }
  to {
    -webkit-transform: rotate(0deg);
  }
}

