<div class="house-container">
    <span class="title">Aprendendo a Escrever ...</span>
    <div class="house-inner-container">
      <div class="overlay-shadow"></div>
      <div class="tree">
        <div class="tree-top">
        </div>
        <div class="tree-shadow">
         </div>
      </div>
      <div class="house-one">
        <div class="house-roof">
        </div>
        <div class="first-level-window-left">
          <div class="windowsill">
          </div>
        </div>
        <div class="first-level-window-right">
          <div class="window-half-closed">
          </div>
          <div class="windowsill">
          </div>
        </div>
        <div class="door">
          <div class="door-inner">
            <div class="door-inner-2x">
            </div>
          </div>
        </div>
      </div>
      <div class="store-one">
        <div class="overlay-shadow-two"></div>
        <div class="school-flag-post"></div>
        <div class="school-flag"></div>
        <div class="roof"></div>
        <div class="door">
          <div class="door-shadow"></div>
          <div class="sign-holder"></div>
          <div class="door-sign">
            <span>UNESC</span>
          </div>
        </div>
        <div class="store-window-left">
          <div class="window-divider"></div>
          <div class="store-window-shadow"></div>
        </div>
      </div>
      <div class="moon"></div>
      <div class="mountain"></div>
      <div class="long-shadow"></div>
      <div class="cloud-container">
      <div class="cloud-one"></div>
      <div class="cloud-two"></div>
      <div class="cloud-three"></div>
      <div class="cloud-four"></div>
      <div class="cloud-five"></div>
      <div class="cloud-six"></div>
      <div class="cloud-seven"></div>
      <div class="cloud-eight"></div>
      <div class="cloud-nine"></div>
      </div>
      <div class="car">
        <div class="car-base"></div>
        <div class="car-wheel-one"></div>
        <div class="car-wheel-two"></div>
        <div class="car-roof">
          <div class="car-roof-inner">
            <div class="car-roof-seperator"></div>
          </div>
        </div>
        <div class="car-light"></div>
      </div>
      <div class="house-development-platform">
      </div>
    </div>
  </div>
